* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

.container {
  background-image: url("https://source.unsplash.com/1920x1080/?mountain");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card {
  width: 100%;
  max-width: 450px;
  background-color: rgba(255, 255, 255, 0.774);
  padding: 25px;
  border-radius: 20px;
  text-align: center;
}

.card .gradient {
  margin: 20px auto;
  background: linear-gradient(45deg, #23c9ff, #f7ece1);
  max-width: 250px;
  height: 250px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.329);
}

.wraper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 6px;
}

input {
  margin: 0 5px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

input::-webkit-color-swatch-wrapper {
  padding: 0;
}

input::-webkit-color-swatch {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.322);
  border: none;
  border-radius: 20px;
}

h4 {
  font-size: 13.5px;
  margin: 10px 0;
}

h2,
h3,
h4 {
  font-weight: 400;
}

/* responsive */

@media screen and (max-width: 568px) {
  .card {
    margin: 0 10px;
  }
}
